footer {
    background-color: #111827;
    color: white;
    padding: 40px 24px;
  }

.footer-content{
  background-color: #111827;
}
  
.footer-left{
  background-color: #111827;
}

.footer-social{
  color: #111827;
}

.social-link{
  background-color: #111827;
  color: black;
}

footer h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  background-color: #111827;
}
  
footer h2 span {
  color: #3b82f6;
  font-size: 32px;
  margin-right: 8px;
  background-color: #111827;
}
  
footer p {
  margin-top: 16px;
  color: #9ca3af;
  background-color: #111827;
}
  
footer a {
  color: #9ca3af;
  text-decoration: none;
  transition: color 0.3s;
  background-color: #111827;
}
  
footer a:hover {
  color: white;
  background-color: #111827;
}
  
.footer-links ul {
  list-style: none;
  padding: 0;
  margin-top: 8px;
  background-color: #111827;
}
  
.footer-links li {
  margin-bottom: 6px;
  background-color: #111827;
}
  
.footer-social {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  background-color: #111827;
}
  
.footer-social a {
  font-size: 24px;
  background-color: #111827;
}
  
.footer-bottom {
  border-top: 1px solid #374151;
  margin-top: 24px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
  background-color: #111827;
}

.footer-bottom-links{
  background-color: #111827;
}
  
@media (min-width: 768px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
    background-color: #111827;
  }
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    background-color: #111827;
  }
}
  